
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans.woff') format('woff'),
         url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{box-sizing:border-box;}

::selection {background: #151839; color:#FFFFFF; /* WebKit/Blink Browsers */}
::-moz-selection {background: #151839; color:#FFFFFF; /* Gecko Browsers */}

.clearfix:after,
.fixwidth:after {
content: '.';
display: block;
height: 0;
clear: both;
visibility: hidden;
}



/*----------------------------------------*/
/*----------------------------------------*/
/* variable */
/*----------------------------------------*/
/*----------------------------------------*/

html,body{min-height:100%; width:100%; position:relative;}
body{
    font-size: 14px;
    line-height:1.2em; 
    -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6{margin:0; line-height:1.35em; padding-bottom:1.5em; font-weight: bold;}
h1{font-size:2.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.6em;}
h5{font-size:1.4em;}
h6{font-size:1em;}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small{font-size:0.9em;}

p{padding:0 0 1.5em 0; margin:0; line-height:1.5em;}

a,
img{display: block;}

button{cursor: pointer;}

.fixwidth{max-width:1280px; margin:0 auto;}

/*----------------------------------------*/
/*----------------------------------------*/
/* font style */
/*----------------------------------------*/
/*----------------------------------------*/

.font-size1{font-size:2.2em;}
.font-size2{font-size:2em;}
.font-size3{font-size:1.8em;}
.font-size4{font-size:1.6em;}
.font-size5{font-size:1.4em;}
.font-size6{font-size:1em;}

/*----------------------------------------*/
/*----------------------------------------*/
/* link */
/*----------------------------------------*/
/*----------------------------------------*/



/*----------------------------------------*/
/*----------------------------------------*/
/* form */
/*----------------------------------------*/
/*----------------------------------------*/

input,select,textarea,button {box-sizing:border-box;}
input:focus, select:focus, textarea:focus, button:focus{outline: none;}

input[type=text],
input[type=password],
input[type=file],
select,
textarea{min-width:inherit; font-size:1em; padding:0 1em; vertical-align:middle; width:100%;}
textarea{min-height:100px; padding-top:0.5em;}

button{min-width:60px; font-size:1em; height:30px; line-height:30px; padding:0 1em; vertical-align:middle; -webkit-font-smoothing:antialiased;}
textarea,
input,
button{border-radius:2px; -webkit-font-smoothing:antialiased;}
input[type=text],
input[type=password],
input[type=file]{background:#FFFFFF; height:40px; line-height:40px;}
input[type=password]{letter-spacing:0.2em;}
input[type=text]:focus,
input[type=password]:focus,
input[type=file]:focus{border:1px solid #999ea7;}
input.disable{border:1px solid #cccccc; background:#f3f4f5; color:#999;}
textarea.alert,
input[type=text].alert{background-repeat:no-repeat;}

select{margin: 0px; padding-left: 13px; border: none; height:40px; line-height:40px; width:100%; appearance:none; -moz-appearance:none; -webkit-appearance:none; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
select:focus {outline: none; /* removing default browsers outline on focus */}
select::-ms-expand{display:none;}

.select-style{position: relative;}
.select-style:after{font-family:fontello; position: absolute; z-index: 1; text-decoration: inherit; display: block; top:1em; right: 1em; speak: none;}
.select-style.icon:after{ content: '\e80f'; color: #576472; } /* '' */

.btn{height: 40px; line-height: 40px; box-sizing:border-box; padding: 0 1em; display: inline-block;}

.btn.lg{height: 50px; line-height: 50px; font-size: 1.2em; font-weight: bold;}

.function_form input,
.function_form textarea,
.function_form select{margin-bottom: 0.8em;}

.popup_alert{position: fixed; width: 100%; min-height: 120px; z-index: 999999; background-color:#ffffff; display: block; top: 0; left: 0; visibility: hidden; transition:0.2s ease; transform:translateY(-100%); box-shadow:0px 0px 0px;}
.popup_alert .warp{display: block; color: #69af3f; font-size: 2em; max-width: 1280px; margin: 1.5em auto; transition:1.5s ease; opacity: 0.2; box-sizing:border-box; padding:0 1em; line-height: 1.5em;}
.popup_alert.error .warp{color: #bf000c;}
.popup_alert.active{visibility: visible; transition:0.2s ease; transform:translateY(0); box-shadow:0px 0px 10px;}
.popup_alert.active .warp{transition:1.5s ease; opacity: 1;}
.popup_alert .close{background: none !important; color: #D2D2D2 !important; border:none !important; line-height: normal; padding: 0; margin-left: 30px; cursor: pointer;}
.popup_alert .close:after{content:''; display: none !important;}

.popup_alert .close:before{content:'x'; background: #d2d2d2; color: #ffffff; display: block; height: 30px; width: 30px; text-align: center; line-height: 25px; border-radius: 40px; font-size: 0.8em; margin-right: 10px; margin-top: 5px; float: left;}


/*----------------------------------------*/
/*----------------------------------------*/
/* layout */
/*----------------------------------------*/
/*----------------------------------------*/

.vertical_thumbs{}
.horizontal_thumbs{}
.thumbs img{width: 100%; height: auto; background: #000000;}

.line--dashed,
.line--solid{margin:0; padding:0; margin-top: 1em; padding-bottom: 1em; border:none;  border-top: 1px solid #cccccc;}

.relation{position:relative;}

.wrap_y--1{padding-top:1em; padding-bottom: 1em;}
.wrap_y--2{padding-top:2em; padding-bottom: 2em;}
.wrap_all--half{padding: 0.5em;}
.wrap_all--1{padding: 1em;}
.wrap_all--1-half{padding: 1.5em;}
.wrap_all--2{padding: 2em;}

.clear-scroll{overflow: hidden; height: 100%;}

/*----------------------------------------*/
/*----------------------------------------*/
/* navigation */
/*----------------------------------------*/
/*----------------------------------------*/

.header--control nav ul {float: right;}
.header--control nav ul li{float: left;}
.header--control nav ul li a{padding:0 0 0 2em; height: 30px; line-height: 30px;}

.toggle-menu{background: none; border:none; display: none;}


/*----------------------------------------*/
/*----------------------------------------*/
/* invert style */
/*----------------------------------------*/
/*----------------------------------------*/

.invert{color: #ffffff;}

@import "theme/theme";
@import "responsive/responsive";

