@charset "UTF-8";
/* CSS Document */

*[class^=c_]{ float:left; /* border:1px solid #333333; */ transition:ease 0.5s; padding:1em 0; box-sizing:content-box;}

/*--

	d = desktop
	l - laptop
	t = tablet
	m =mobile
	
--*/

	.c_full-d{width:100%;}
	.c_90-d{width:90%;}
	.c_80-d{width:80%;}
	.c_70-d{width:70%;}
	.c_60-d{width:60%;}
	.c_50-d{width:50%;}
	.c_40-d{width:40%;}
	.c_30-d{width:30%;}
	.c_20-d{width:20%;}
	.c_10-d{width:10%;}
	.c_33-d{width:33.3333%;}
	.c_15-d{width:15%;}
	.c_25-d{width:25%;}
	.c_35-d{width:35%;}
	.c_45-d{width:45%;}
	.c_55-d{width:55%;}
	.c_65-d{width:65%;}
	.c_75-d{width:75%;}
	.c_85-d{width:85%;}
	
	/*----- list style -----*/

	@mixin space_left($space:2%){
		margin-left:$space;
	}

	.list_box{margin-left:-2%;}
	.list_box .c_full-d{width:100%; margin:0; float:none;}
	.list_box .c_90-d{width:98%; @include space_left;}
	.list_box .c_80-d{width:78%; @include space_left;}
	.list_box .c_70-d{width:68%; @include space_left;}
	.list_box .c_60-d{width:58%; @include space_left;}
	.list_box .c_50-d{width:48%; @include space_left;}
	.list_box .c_40-d{width:38%; @include space_left;}
	.list_box .c_30-d{width:28%; @include space_left;}
	.list_box .c_20-d{width:18%; @include space_left;}
	.list_box .c_10-d{width:8%; @include space_left;}
	.list_box .c_33-d{width:31.3333%; @include space_left;}
	.list_box .c_15-d{width:13%; @include space_left;}
	.list_box .c_25-d{width:23%; @include space_left;}
	.list_box .c_35-d{width:33%; @include space_left;}
	.list_box .c_45-d{width:43%; @include space_left;}
	.list_box .c_55-d{width:53%; @include space_left;}
	.list_box .c_65-d{width:63%; @include space_left;}
	.list_box .c_75-d{width:73%; @include space_left;}
	.list_box .c_85-d{width:83%; @include space_left;}
	

	
	.fix-height{height:100%;}
	
	html,body{min-height:100%; height:100%;}
	

@media (max-width: 1350px){
	
	body{font-size:14px;}
	.fixwidth{padding:0 2em; box-sizing:border-box;}

	.navigation_primaly ul{text-align: center;}
	.navigation_primaly ul li{float: none; display: inline-block;}
	.navigation_primaly a{font-size: 1.5em;}
	
	.items_lists_landscape{margin: 0 0 0 0;}
	.items_lists_square{margin:0 0 0 0;}

}

@media (max-width: 1200px){
	
	body{font-size:12px;}

	.fixwidth{padding:0 1em;}
	.fixwidth.selectprices{padding-left: 1em; padding-right: 1em;}


}

@media (max-width: 1080px){
	
	.c_full-l{width:100%; clear: both;}
	.c_90-l{width:90%;}
	.c_80-l{width:80%;}
	.c_70-l{width:70%;}
	.c_60-l{width:60%;}
	.c_50-l{width:50%;}
	.c_40-l{width:40%;}
	.c_30-l{width:30%;}
	.c_20-l{width:20%;}
	.c_10-l{width:10%;}
	.c_33-l{width:33.3333%;}
	.c_15-l{width:15%;}
	.c_25-l{width:25%;}
	.c_35-l{width:35%;}
	.c_45-l{width:45%;}
	.c_55-l{width:55%;}
	.c_65-l{width:65%;}
	.c_75-l{width:75%;}
	.c_85-l{width:85%;}
	
	.list_box .c_full-l{width:98%; @include space_left; float:none;}
	.list_box .c_90-l{width:88%; @include space_left;}
	.list_box .c_80-l{width:78%; @include space_left;}
	.list_box .c_70-l{width:68%; @include space_left;}
	.list_box .c_60-l{width:58%; @include space_left;}
	.list_box .c_50-l{width:48%; @include space_left;}
	.list_box .c_40-l{width:38%; @include space_left;}
	.list_box .c_30-l{width:28%; @include space_left;}
	.list_box .c_20-l{width:18%; @include space_left;}
	.list_box .c_10-l{width:8%; @include space_left;}
	.list_box .c_33-l{width:31.3333%; @include space_left;}
	.list_box .c_15-l{width:13%; @include space_left;}
	.list_box .c_25-l{width:23%; @include space_left;}
	.list_box .c_35-l{width:33%; @include space_left;}
	.list_box .c_45-l{width:43%; @include space_left;}
	.list_box .c_55-l{width:53%; @include space_left;}
	.list_box .c_65-l{width:63%; @include space_left;}
	.list_box .c_75-l{width:73%; @include space_left;}
	.list_box .c_85-l{width:83%; @include space_left;}
	
	.header--control .primary{height: 70px !important; line-height: 70px !important;}
	.header--control .primary nav{display: none;}

	.toggle-menu{width:30px; height:30px; position:absolute; top:60px; right:1em; z-index: 99999;}

	.toggle-menu{display: block; background: black; color:#ffffff; }
	

	.clear-scroll .navbar{height: 100%; width: 100%; position: absolute; background: #000000; z-index: 999; overflow-y:scroll;}

	
	.select_language,
	.permalink_social,
	.navigation_secondary,
	.navigation_primaly ul li,
	.navigation_primaly a:before{display: none;}
	

	

	/* ____________________________________________________________  */
	/* ____________________________________________________________  */

	
	.clear-scroll .navbar_logo{display: none;}

	.clear-scroll .menu_lv1 li{text-align: center; padding: 0; margin: 0; list-style: none;}

	.clear-scroll .navigation_primaly a,
	.clear-scroll .menu_lv1 li a{
		font-family: "kelson_sansbold", Arial, Helvetica, sans-serif;
    	text-transform: uppercase;
    	font-size: 24px;
    	padding: 10px 27px;
    	line-height: initial;
    	position: relative;
    	transition: 0.2s ease;}

    .clear-scroll .navigation_primaly{background: none; border: none;}
    .clear-scroll .navigation_primaly li.active,
    .clear-scroll .navigation_primaly li:hover a,
	.clear-scroll .menu_lv1 li.active,
	.clear-scroll .menu_lv1 li:hover a{color: #ea2127;}

	.clear-scroll .permalink_social{display:block; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; display: none;}

	.clear-scroll .select_language{
		display: block;
    	position: absolute;
    	top: 30px;
    	left: 0;
    	width: 100%;
    	text-align: center;
    	margin: 0;
    	padding: 0;
	}
	.clear-scroll .permalink_social a,
	.clear-scroll .select_language a{display: inline-block; float: none;}

	.clear-scroll .navigation_secondary{padding-top: 90px; position: static; display: block;}

	.clear-scroll .navigation_secondary,
	.clear-scroll .select_language,
	.clear-scroll .permalink_social,
	.clear-scroll .menu_lv1,
	.clear-scroll .menu_lv1 li{float: none;}

	.clear-scroll .navigation_secondary{top: 0;}
	.clear-scroll .navigation_secondary:after,
	.clear-scroll .select_language:after,
	.clear-scroll .permalink_social:after{content: ''; display: table; width: 0; height: 0; clear: both;}

	.clear-scroll .navigation_primaly ul li{display:block;}

	.clear-scroll .wrapper_hilight_slider{height: 100%;}


	/* ____________________________________________________________  */
	/* ____________________________________________________________  */

	.blog_items-horizon_slider.landscape, 
	.blog_items-horizon_slider.square, 
	.blog_items-fixed, .blog_hilight,
	.footer_pages{padding:50px 0;}

	.hilight_slider{height: 400px;}
	.blog_first{padding-top: 260px;}
	.blog_first .wrapper{position: static; background: none;}



	.blog_hilight{padding: 10px 0;}
	.blog_hilight .headline h2{font-size: 30px;}


	.pages_section_title header{padding-left: 20px;}

}



@media (min-width: 1001px){
	/*nav ul{text-align:right; height:80px; line-height:80px; float:right;}
	nav ul li{display:inline-block; margin:0 0 0 1.5em; font-size:1.25em; text-transform:uppercase; position:relative;}
	nav ul li:after{content:''; display:block; height:26px; width:1px; background:#CCCCCC; position:absolute; top:27px; right:-15px;}
	nav ul li:last-child:after{display:none;}*/
}

@media (max-width: 1000px){
	
	.c_full-t{width:100%;}
	.c_90-t{width:90%;}
	.c_80-t{width:80%;}
	.c_70-t{width:70%;}
	.c_60-t{width:60%;}
	.c_50-t{width:50%;}
	.c_40-t{width:40%;}
	.c_30-t{width:30%;}
	.c_20-t{width:20%;}
	.c_10-t{width:10%;}
	.c_33-t{width:33.3333%;}
	.c_15-t{width:15%;}
	.c_25-t{width:25%;}
	.c_35-t{width:35%;}
	.c_45-t{width:45%;}
	.c_55-t{width:55%;}
	.c_65-t{width:65%;}
	.c_75-t{width:75%;}
	.c_85-t{width:85%;}
	
	.list_box .c_full-t{width:98%; @include space_left; float:none; clear: both;}
	.list_box .c_90-t{width:88%; @include space_left;}
	.list_box .c_80-t{width:78%; @include space_left;}
	.list_box .c_70-t{width:68%; @include space_left;}
	.list_box .c_60-t{width:58%; @include space_left;}
	.list_box .c_50-t{width:48%; @include space_left;}
	.list_box .c_40-t{width:38%; @include space_left;}
	.list_box .c_30-t{width:28%; @include space_left;}
	.list_box .c_20-t{width:18%; @include space_left;}
	.list_box .c_10-t{width:8%; @include space_left;}
	.list_box .c_33-t{width:31.3333%; @include space_left;}
	.list_box .c_15-t{width:13%; @include space_left;}
	.list_box .c_25-t{width:23%; @include space_left;}
	.list_box .c_35-t{width:33%; @include space_left;}
	.list_box .c_45-t{width:43%; @include space_left;}
	.list_box .c_55-t{width:53%; @include space_left;}
	.list_box .c_65-t{width:63%; @include space_left;}
	.list_box .c_75-t{width:73%; @include space_left;}
	.list_box .c_85-t{width:83%; @include space_left;}


	.blog_items-fixed .items_lists{margin: 0;}
	
	.blog_items-fixed .items_lists li{width: 100%; padding: 0 0 1em 0; float: none;}
	.blog_items-fixed .items_lists li .wrapper:after{content: ''; display: table; width: 0; height: 0; clear: both;}
	.blog_items-fixed .items_lists li .thumbs{float: left; width: 35%; padding-right: 1em;}
	.blog_items-fixed .items_lists li .type{float: left; width: 65%;}
	.blog_items-fixed li h3{margin: 0;}

	.panel_image-lists ul{padding: 1em;}

	.main_about .blog_fifth--paragraph_1 p{font-size: 18px;}
	.main_about-logo,
	.blog_fifth--paragraph_1{padding-bottom: 0; text-align: center;}
	.main_about-logo img{margin-right: 0; margin-bottom: 20px;}

	.show_navigation{display: block; font-size: 1.5em; height: auto; padding: 10px 20px;}

	.wrap-pages_navigation{overflow: hidden;}
	aside.pages_navigation{padding-top: 40px; border-bottom: 1px solid #DFE0E2;}
	aside.pages_navigation ul{background: black; padding: 40px 0 40px 20px; display: none;}


}

@media (max-width: 900px){
	

}


@media (max-width: 760px){
	
}

@media (max-width: 500px){
	
	.c_full-m{width:100%;}
	.c_90-m{width:90%;}
	.c_80-m{width:80%;}
	.c_70-m{width:70%;}
	.c_60-m{width:60%;}
	.c_50-m{width:50%;}
	.c_40-m{width:40%;}
	.c_30-m{width:30%;}
	.c_20-m{width:20%;}
	.c_10-m{width:10%;}
	.c_33-m{width:33.3333%;}
	.c_15-m{width:15%;}
	.c_25-m{width:25%;}
	.c_35-m{width:35%;}
	.c_45-m{width:45%;}
	.c_55-m{width:55%;}
	.c_65-m{width:65%;}
	.c_75-m{width:75%;}
	.c_85-m{width:85%;}
	
	/*
	.list_box{margin:0;}
	*/

	.list_box .c_full-m{width:98%; @include space_left; clear: both;}
	.list_box .c_90-m{width:88%; @include space_left;}
	.list_box .c_80-m{width:78%; @include space_left;}
	.list_box .c_70-m{width:68%; @include space_left;}
	.list_box .c_60-m{width:58%; @include space_left;}
	.list_box .c_50-m{width:48%; @include space_left;}
	.list_box .c_40-m{width:38%; @include space_left;}
	.list_box .c_30-m{width:28%; @include space_left;}
	.list_box .c_20-m{width:18%; @include space_left;}
	.list_box .c_10-m{width:8%; @include space_left;}
	.list_box .c_33-m{width:31.3333%; @include space_left;}
	.list_box .c_15-m{width:13%; @include space_left;}
	.list_box .c_25-m{width:23%; @include space_left;}
	.list_box .c_35-m{width:33%; @include space_left;}
	.list_box .c_45-m{width:43%; @include space_left;}
	.list_box .c_55-m{width:53%; @include space_left;}
	.list_box .c_65-m{width:63%; @include space_left;}
	.list_box .c_75-m{width:73%; @include space_left;}
	.list_box .c_85-m{width:83%; @include space_left;}
	.list_box .c_full-m{width:100%; margin:0; float:none;}
	
	.fixwidth .container .row{padding:0;}

	.list_box .c_full-t,
	.list_box .c_full-l{margin-left: 0; width: 100%;}

	h1{font-size:2.1em;}
	h2{font-size:1.8em;}
	h3{font-size:1.5em;}
	h4{font-size:1.3em;}
	h5{font-size:1em;}
	h6{font-size:1em;}

	.blog_first .wrap{padding: 0;}

	.blog_hilight-permalinks{margin-top: -30px; }
	.container{padding: 30px 0;}

	.section_title h2{font-size: 2em;}

	.type_lists .downloads .detail{padding: 0;}
	.type_lists .downloads .permalinks{position: static; margin-top:20px;}



}